{% extends 'base.html.twig' %}

{% block title %}
  All skills
{% endblock %}

{% block content %}
  All skills :
  <ul>
    {% for skill in skills %}
      <li><a href="/skills/{{ skill.name }}">{{skill.name}}</a></li>
    {% endfor %}
  </ul>
  <a href="/skills/new">Nouveau</a>
{% endblock %}
