{% extends 'base.html.twig' %}

{% block title %}
  Single skill
{% endblock %}

{% block content %}
    <a href="/skills">Go back</a>
    Skill of {{skill.name}}
    <a href="/skills/edit/{{skill.name}}">Éditer</a>
    <a href="/skills/delete/{{skill.name}}">Supprimer</a>
{% endblock %}