{% extends 'base.html.twig' %}

{% block title %}
  All races
{% endblock %}

{% block content %}
  <h1 class="h1 text-3xl mb-3">Races of Skyrim</h1>

  {% if app.user %}
    <a href="/races/new" class="border border-gray-200 rounded-md py-1 px-2 bg-gray-200">Add</a>
  {% endif %}
  
  <div class="flex mt-4">
    {% for race in races %}
      <div class="m-4 p-4">
        <a href="/races/{{ race.name }}">
          <img src="{{ race.image }}" alt="{{ race.name }}" width="30%" height="auto" />
          <h3 class="h3 text-lg">{{ race.name }}</h3>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
