{% extends 'base.html.twig' %}

{% block title %}
  All races
{% endblock %}

{% block content %}
  Toutes les races ici :
  <ul>
    {% for race in races %}
      <li><a href="/races/{{ race.name }}">{{race.name}}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
