@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global */
body {
    background-color: #f9f9f9;
    overflow-x: hidden;
}

img, video {
    max-width: unset;
}

.main {
    position: relative;
    min-height: 85vh;
    background-color: #040402;
    color: #ffffff;
}

.font-dovahkiin {
    font-family: 'Dovahkiin', Arial, Helvetica, sans-serif;
}

.font-balgruf {
    font-family: 'Balgruf', Arial, Helvetica, sans-serif;
}

input, textarea, select {
    color: #040402;
}

/* Home */
.home-header {
    min-height: 100vh;
}