/* Fonts */
@font-face {
    font-family: 'Balgruf';
    src: 
        url('../fonts/balgruf-font/Balgruf.woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Dovahkiin';
    src: 
        url('../fonts/dovahkiin-font/Dovahkiin.woff2');
    font-weight: 400;
    font-style: normal;
}