{% extends 'base.html.twig' %}

{% block title %}
  All provinces
{% endblock %}

{% block content %}
  <div class="flex">
    <h1 class="h1 text-3xl mr-4">Provinces of The Elder Scrolls</h1>
    {% if app.user %}
      <a href="/provinces/new" class="block self-end rounded-md py-1 px-2 bg-sky-500 hover:bg-sky-600 duration-100 text-white">Add</a>
    {% endif %}
  </div>
  <img src="/images/provinces.png" alt="Thuum" />

  <div class="flex mt-4">
    {% for province in provinces %}
      <div class="m-4 p-4">
        <a href="/provinces/{{ province.name }}">
          <img src="{{ province.image }}" alt="{{ province.name }}" width="30%" height="auto" />
          <h3 class="h3 text-lg">{{ province.name }}</h3>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
